@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Krona+One&display=swap");

$--back-black: #00000040;
$--green: #00ff06;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 2vw;
  color: white;
}

html {
  height: 100vh;
  overflow: hidden;

  body {
    height: 100%;
    overflow: hidden;
    padding: 0px 20px;
    position: relative;
    background: url("../Images/Earth_Light.webp");
    background-position: top left;
    // background-position: top right;
    // background-position: bottom right;
    // background-position: bottom left;
    // background-position: center;
    background-size: 150vw;
    transition: all 0.5s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    nav {
      position: absolute;
      top: 25px;
      width: 98%;
      max-height: 60px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-radius: 10px;
      background: $--back-black;

      /* bck blur */
      backdrop-filter: blur(100px);

      .menu {
        background: transparent;
        border: none;
        outline: none;
        fill: white;
        width: 24px;
        height: 24px;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      .left {
        font-size: 1rem;
        font-family: "Krona One";
        text-decoration: none;
        color: white;
        &:visited{
          color: white;
        }
      }

      ul {
        height: fit-content;
        list-style: none;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;

        li {
          height: fit-content;
          line-height: 0.5rem;
          a {
            /* nav link */
            // line-height: .5rem;
            font-family: "Inter";
            font-size: 0.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            text-decoration: none;
            transition: all 0.5s ease;
          }
          .active {
            color: $--green;
            font-size: 0.7rem;
          }
        }
      }

      .query {
        /* Add search or query input styles here */
        width: 28px;
        aspect-ratio: 1/1;
        fill: white;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      @media (min-width: 769px) {
        .menu {
          display: none;
        }
        .left {
          display: block;
        }
        ul {
          display: flex;
        }
        .query {
          display: none;
        }
      }
      @media (max-width: 768px) {
        padding: 5px 25px;
        .menu {
          display: block;
        }
        .left {
          display: none;
        }
        ul {
          display: none;
        }
        .query {
          display: block;
        }
      }
    }

    .container {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 0;

      overflow-y: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;

      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: $--green;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        background-clip: padding-box;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: white;
      }

      section {
        scroll-snap-align: start;
        flex-shrink: 0;
        height: 100%;
        padding-top: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 1.5rem;
          text-transform: uppercase;
        }

        &:nth-child(1) {
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
        }
        &:nth-child(4) {
        }
        &:nth-child(5) {
        }
        &:nth-child(6) {
        }
      }
    }
  }
}
