@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700;800;900&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
@media (min-width: 769px) {
  * {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 3.5vw;
  }
}

html {
  height: 100vh;
  overflow: hidden;
  background: url("../Images/img_earth.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
html body {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.4039215686);
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
html body nav {
  position: absolute;
  z-index: 10;
  top: 25px;
  width: 98%;
  max-height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5019607843);
  /* bck blur */
}
html body nav .menu {
  background: transparent;
  border: none;
  outline: none;
  fill: white;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
html body nav .menu svg {
  width: 100%;
  height: 100%;
}
html body nav .left {
  font-size: 1rem;
  font-family: "Orbitron";
  text-decoration: none;
  color: white;
}
html body nav .left:visited {
  color: white;
}
html body nav ul {
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
html body nav ul li {
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0.5rem;
}
html body nav ul li a {
  /* nav link */
  font-family: "Ubuntu";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.5s ease;
}
html body nav ul li .active {
  color: #00ff06;
  font-size: 0.7rem;
  text-decoration: underline;
}
html body nav .query {
  /* Add search or query input styles here */
  width: 28px;
  aspect-ratio: 1/1;
  fill: white;
}
html body nav .query svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 769px) {
  html body nav .menu {
    display: none;
  }
  html body nav .left {
    display: block;
  }
  html body nav ul {
    display: flex;
  }
  html body nav .query {
    display: none;
  }
}
@media (max-width: 768px) {
  html body nav {
    padding: 5px 25px;
  }
  html body nav .menu {
    display: block;
  }
  html body nav .left {
    display: none;
  }
  html body nav ul {
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.251);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  html body nav ul li {
    padding: 10px 0px;
    border-bottom: 1px solid white;
    width: 70%;
  }
  html body nav ul li a {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  html body nav ul li .active {
    color: #00ff06;
    font-size: 1.2rem;
    text-decoration: none;
  }
  html body nav .query {
    display: block;
  }
}
html body .container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
html body .container::-webkit-scrollbar {
  display: none;
}
html body .container section {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  padding: 25px 20px;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html body .container section h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
html body .container section:nth-child(1) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
html body .container section:nth-child(1) .left {
  max-height: 100%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
html body .container section:nth-child(1) .left h1 {
  filter: drop-shadow(5px 5px 2px black);
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background-image: url("../Images/img_earth.webp");
  background-size: 200%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html body .container section:nth-child(1) .left p {
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2509803922);
  /* bck blur */
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  text-align: center;
  text-shadow: 0px 4px 20px #000;
  /* Paragraph */
  font-family: "Ubuntu";
  font-size: 0.68rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
html body .container section:nth-child(1) .right {
  max-height: 100%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .container section:nth-child(1) .right img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  filter: drop-shadow(20px 20px 4px rgba(0, 0, 0, 0.6117647059));
}
@media (max-width: 768px) {
  html body .container section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
  }
  html body .container section:nth-child(1) .right {
    order: 1;
    flex-grow: 0;
    max-height: 50%;
  }
  html body .container section:nth-child(1) .left {
    order: 2;
    flex-grow: 0;
    gap: 20px;
  }
}
html body .container section:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
html body .container section:nth-child(2) .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
html body .container section:nth-child(2) .left img {
  width: 70%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 1px solid white;
  box-shadow: 30px 20px 0px 0px #39291b;
}
html body .container section:nth-child(2) .left .text {
  position: absolute;
  width: 55%;
  bottom: 5px;
  left: 16%;
  font-size: 0.6rem;
  font-weight: 500;
  font-style: italic;
  background-color: #39291b;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  padding: 15px;
}
html body .container section:nth-child(2) .left .text .start,
html body .container section:nth-child(2) .left .text .end {
  position: absolute;
  width: 20px;
  aspect-ratio: 1/1;
}
html body .container section:nth-child(2) .left .text .start {
  top: -10px;
  left: 10px;
}
html body .container section:nth-child(2) .left .text .end {
  bottom: -5px;
  right: 10px;
}
html body .container section:nth-child(2) .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
html body .container section:nth-child(2) .right .mission_vision {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
html body .container section:nth-child(2) .right .mission_vision h2 {
  color: #fff;
  filter: drop-shadow(7px 0px 5px rgba(0, 0, 0, 0.67));
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
}
html body .container section:nth-child(2) .right .mission_vision p {
  filter: drop-shadow(7px 0px 5px rgba(0, 0, 0, 0.67));
  font-size: 0.8rem;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  padding: 10px 20px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  html body .container section:nth-child(2) {
    flex-direction: column;
    padding-top: 70px;
  }
  html body .container section:nth-child(2) .right {
    width: 100%;
    gap: 15px;
  }
  html body .container section:nth-child(2) .right .mission_vision {
    gap: 10px;
  }
  html body .container section:nth-child(2) .left {
    width: 100%;
    height: 50%;
    justify-content: flex-start;
  }
  html body .container section:nth-child(2) .left .text {
    left: 3%;
    bottom: 3%;
  }
  html body .container section:nth-child(2) .left img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    box-shadow: 10px 10px 0px 0px #39291b;
    border-radius: 10px;
  }
}
html body .container section:nth-child(3) {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
html body .container section:nth-child(3) h1 {
  text-transform: capitalize;
  font-size: 1.8rem;
  filter: drop-shadow(7px 0px 5px rgba(0, 0, 0, 0.67));
}
html body .container section:nth-child(3) .events {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
html body .container section:nth-child(3) .events .event {
  display: flex;
  width: 330px;
  height: 450px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
html body .container section:nth-child(3) .events .event h2 {
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  text-transform: capitalize;
}
html body .container section:nth-child(3) .events .event img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 1px solid white;
}
html body .container section:nth-child(3) .events .event p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
html body .container section:nth-child(3) .events .event p span {
  width: -moz-fit-content;
  width: fit-content;
  color: #dddddd;
  font-size: small;
  text-transform: capitalize;
}
html body .container section:nth-child(3) .events .event a {
  font-size: 0.7rem;
  color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
html body .container section:nth-child(3) .events .event a:visited {
  color: white;
}
@media (max-width: 768px) {
  html body .container section:nth-child(3) {
    gap: 20px;
  }
  html body .container section:nth-child(3) .events {
    width: 70vw;
    padding-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    flex-shrink: 0;
    justify-content: flex-start;
  }
  html body .container section:nth-child(3) .events::-webkit-scrollbar {
    height: 5px;
  }
  html body .container section:nth-child(3) .events::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
  }
  html body .container section:nth-child(3) .events::-webkit-scrollbar-thumb {
    background-color: #00ff06;
    border-radius: 30px;
  }
  html body .container section:nth-child(3) .events .event {
    scroll-snap-align: start;
    margin-bottom: 10px;
    flex-shrink: 0;
    width: 100%;
  }
}
html body .container section:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
html body .container section:nth-child(4) h1 {
  text-transform: capitalize;
  font-size: 1.8rem;
  filter: drop-shadow(7px 0px 5px rgba(0, 0, 0, 0.67));
}
html body .container section:nth-child(4) .links {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.19);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
html body .container section:nth-child(4) .links a {
  width: 80px;
  height: 5px;
  border-radius: 30px;
  background: #fff;
}
html body .container section:nth-child(4) .slides {
  width: 70%;
  height: 70%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
html body .container section:nth-child(4) .slides::-webkit-scrollbar {
  display: none;
}
html body .container section:nth-child(4) .slides .slide {
  scroll-snap-align: start;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 20px;
}
html body .container section:nth-child(4) .slides .slide img {
  height: 100%;
  width: 500px;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
html body .container section:nth-child(4) .slides .slide .desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
html body .container section:nth-child(4) .slides .slide .desc h2 {
  font-size: 1.25rem;
  text-transform: capitalize;
}
html body .container section:nth-child(4) .slides .slide .desc p {
  font-size: 0.8rem;
  color: #cac7c7;
  font-weight: 300;
}
html body .container section:nth-child(4) .slides .slide .desc p span {
  color: white;
  font-weight: 800;
  font-size: 0.8rem;
}
@media (max-width: 786px) {
  html body .container section:nth-child(4) .slides {
    width: 100%;
  }
  html body .container section:nth-child(4) .slides .slide {
    padding: 30px 30px;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease;
  }
  html body .container section:nth-child(4) .slides .slide img {
    border-radius: 10px;
    height: 50%;
    width: 100%;
  }
  html body .container section:nth-child(4) .slides .slide .desc {
    gap: 15px;
  }
  html body .container section:nth-child(4) .slides .slide .desc h2 {
    font-weight: 500;
  }
  html body .container section:nth-child(4) .slides .slide .desc p {
    font-weight: 300;
  }
  html body .container section:nth-child(4) .slides .slide .desc p span {
    font-size: 0.8rem;
  }
}
html body .container section:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}
html body .container section:nth-child(5) h1 {
  font-size: 1.8rem;
  text-transform: capitalize;
  filter: drop-shadow(7px 0px 5px rgba(0, 0, 0, 0.67));
}
html body .container section:nth-child(5) .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  overflow-x: hidden;
}
html body .container section:nth-child(5) .cards .card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
html body .container section:nth-child(5) .cards .card h2 {
  font-size: 1.25rem;
  text-transform: capitalize;
}
html body .container section:nth-child(5) .cards .card ul {
  list-style: disc;
  margin-left: 5%;
}
html body .container section:nth-child(5) .cards .card ul li {
  color: #CAC7C7;
  font-size: 0.8rem;
  font-weight: 300;
}
html body .container section:nth-child(6) {
  display: none;
}/*# sourceMappingURL=styles.css.map */